body{
    overflow-x: hidden;
}

.section-info{
    padding: 45px 0px 60px 0px;
}

.section-info__descr{
    max-width: 650px;
    margin-top: 45px;
    font-size: 20px;
    line-height: 24px;
}

.section-info__content div:first-child{
    display: flex;
}

.section-info__content{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.section-info .header__nav-sublink__list{
    position: absolute;
    top: 20px;
    right: 0px;
    background: var(--white);
    padding: 18px 13px 30px 14px;
    width: 315px;
    border: 2px solid #000;
    border-radius: 25px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    z-index: 10;
}

.section-info__main{
    margin-left: 20px;
}

.section-info__image{
    display: block;
    max-width: 100%;
    height: auto;
}

.section-info__items-item li div{
    align-items: center;
}

.section-info__actions-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 427px;
    height: 60px;
    background-color: var(--light-black);
    transition: background-color 0.4s;
    color: var(--white);
    font-size: 24px;
    line-height: 22px;
    border-radius: 15px;
}

.section-info__actions-item:not(:first-child){
    margin-top: 29px;
}

.section-info__items-item li{
    position: relative;
}

.section-info__items-item li:not(:first-child){
    margin-top: 12px;
}

.section-info__items-item div:not(:first-child){
    margin-top: 3px;
}

.header__nav-sublink__list li:not(:first-child){
    margin-top: 0px !important;
}

.section-info__items-item:first-child li:last-child:hover .header__nav-sublink__list{
    opacity: 1;
    visibility: visible;
}

.section-info__items-item:last-child li:last-child:hover .header__nav-sublink__list{
    opacity: 1;
    visibility: visible;
}

.section-info__actions-item:hover{
    background-color: var(--yellow);
}

.section-info__items{
    display: flex;
}

.header__nav-sublink__list li, a{
    font-size: 16px !important;
    line-height: 24px !important;
}

.section-info__items-item-name{
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 19px;
}

.section-info__items-item{
    flex-direction: column;
}

.submenu-button{
    margin-left: 6px;
}

@media(max-width: 1300px){
    .section-info{
        padding: 45px 0px 60px 0px;
        overflow: visible;
    }

    .section-info__items-item-name{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 13px;
    }

    .section-info__items{
        margin-left: 110px;
        margin-top: 40px;
    }

    .section-info__descr{
        max-width: 100%;
        margin-top: 20px;
        font-size: 18px;
        line-height: 24px;
    }

    .section-info__content{
        flex-direction: column;
        align-items: flex-start;
    }

    .section-info__actions{
        display: flex;
        margin-left: -22px;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .section-info__actions-item{
        margin-left: 22px;
        margin-top: 21px !important;
    }
}

@media(max-width: 780px){
    .section-info .header__nav-sublink__list{
        width: 270px;
    }

    .header__nav-sublink__list li, a{
        font-size: 14px !important;
    }

    .section-info__items-item-name{
        font-size: 20px;
        line-height: 30px;
    }

    .section-info__items-item:not(:first-child){
        margin-top: 22px;
    }

    .section-info__descr{
        font-size: 16px;
        line-height: 24px;
        transform: translateX(-55px);
    }

    .section-info__items{
        margin-left: 0px;
        margin-top: 28px;
        flex-direction: column;
    }

    .section-info__title{
        font-size: 27px;
    }

    .section-info__actions{
        display: flex;
        margin-left: -22px;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .section-info__actions-item{
        margin-left: 22px;
    }

    .section-info__actions-item{
        width: 366px;
        height: 40px;
        font-size: 18px;
    }

    .section-info__content div:first-child img{
        width: 40px;
        height: 40px;
    }

    .header__nav-sublink__list{
        top: 20px;
        left: 0px;
    }
}