@import './normalize.css';
@import './typography.css';
@import './header.css';
@import './footer.css';
@import './swiper.css';
@import './vars.css';
@import './modal.css';

html{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

p, a, button, input, span, div{
    font-family: 'Steppe';
}

h1, h2, h3, h4, h5{
    font-family: 'Days One';
}

.container{
    max-width: 1340px;
    margin: 0 auto;
    padding: 0px 10px;
}

.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

.title{
    color: var(--light-black);
    font-size: 50px;
    font-family: 'Days One';
    line-height: 70px;
    text-transform: uppercase;
}

.styled-button{
    display: inline-block;
    padding: 18px 30px;
    background-color: var(--light-black);
    color: var(--white);
    font-size: 24px;
    font-family: 'Steppe';
    line-height: 24px;
    border-radius: 15px;
    transition: background-color 0.4s;
    cursor: pointer;
}

.styled-button:hover{
    background-color: var(--yellow);
}

.socials{
    display: flex;
    flex-wrap: wrap;
    margin-left: -32px;
    margin-top: -32px;
}

.socials a{
    margin-left: 32px;
    display: block;
}

@media(max-width: 1350px){ 
    .title{
        font-size: 40px;
        line-height: 55px;
    }

    .styled-button{
        padding: 8px 25px;
        font-size: 20px;
        line-height: 24px;
        border-radius: 10px;
    }
}

@media(max-width: 950px){
    .title{
        font-size: 30px;
        line-height: 40px;
    }

    .styled-button{
        padding: 8px 23px;
        font-size: 18px;
        line-height: 24px;
        border-radius: 10px;
    }
}

@media(max-width: 780px){
    .swiper{
        min-height: 150px;
    }
}