@font-face {
    font-family: 'Days One';
    src: url(../fonts/DaysOne-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: 'Steppe';
    src: url(../fonts/Steppe-Regular.woff2);
    font-weight: 400;
}